.text {
  background-color: #b2b2b2;
  color: white;
  padding: 16px;
  text-align: center;
}

.container {
  background-color: #b2b2b2;
  color: white;
  display: flex;
  justify-content: space-between;
}
